a {
    cursor: pointer;
}

.pagination_box{
    width: 100%;
}

.pagination{
    margin: auto;
    width: 750px;
}

.pagination li{
    margin: 5px;
    border-radius: 0.25rem;
    color: white;
}

.active{
    background-color: white;
    color: black;
}

.active a{
    color: black;
}

#excelUploadBtn{
    margin : 1%;
    float: right;
}

/* .upload_box{float: right; margin-bottom: 10px} */
.upload_box input {margin-right: 15px;
    margin-right: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    height: 22px;}

.search_box select{width:80px; display: inline-block}

#searchString{margin-left: 20px;     border-radius: 0.25rem;}
/* #searchBtn{background: url(../../assets/img/search_icon.png) no-repeat;width: 30px; height: 30px;} */